:root{
    --black: #232534;
    --violet: #6E6996;
    --blue: #B3CFFF;
    --white: #FFFCFF;
    --yellow: #FFFCED;
}


body{
    background-color: var(--black);
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.nav-bar{
    position: fixed;
    display: flex;
    width: 96vw;
    gap: 1vw;
    justify-content: start;
    padding: 1vw 2vw;
    z-index: 2;
    transition: transform 0.5s;

}
.nav--hidden {
    transform: translateY(calc(-1 * 8rem));
    box-shadow: none;
    transition: transform 0.5s;
  }
.quick_link{
    background-color: var(--violet);
    padding: 0.8vw 1vw;
    border-radius: 2vw;
    color: var(--black);
    font-weight: 600;
    text-decoration: none;
    display: flex;
    transition:ease-in-out 0.2s;
    font-size: 1vw;
    width: max-content;
    height: 1.2vw;
}

.quick_link.hidden{
    width: 1vw;
}

.quick_link .hidden-button-text{
    width: 0;
    height: 1vw;
    overflow: hidden;
    /* display: none; */
    transition: 0.25s;
    opacity: 0;
}

.quick_link:hover{ 
    background-color: var(--blue);
    scale: 1.1;
} 

.quick_link.hidden:hover{ 
    background-color: var(--blue);
    scale: 1.1;
    width: 12vw;
    height: 1.2vw;
} 

.quick_link:hover .hidden-button-text{ 
    display: flex;
    align-items: center;
    width: max-content;
    opacity: 1;
    transition: 0.25s;
} 

.quick_link#start-button:hover {
    width: 5vw;
}
.quick_link#game-dev-button:hover {
    width: 8vw;
}
.quick_link#r3d-button:hover {
    width: 11vw;
}
.quick_link#contact-button:hover {
    width: 6.5vw;
}

.quick_link#game-dev-button-en:hover {
    width: 7vw;
}
.quick_link#r3d-button-en:hover {
    width: 8.5vw;
}
.quick_link#front-end-button-en:hover {
    width: 9vw;
}
.quick_link#contact-button-en:hover {
    width: 5.5vw;
}

.title-card{
    top:0;
    left:0;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    z-index: -1;
}

.title-card img{
    height: 100vh;
}
.title-card .title-info{
    padding: 2vw 3vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
h1{
    color: var(--blue);
    font-size: 2vw;
    margin: 0;
}

h3{
    margin-top: 0;
    color: var(--white);
    font-size: 1.5vw;
    font-weight: 400;
}


@media (max-width: 996px){
    .nav-bar{
        display: none !important;
    }
    .title-card{
        top:0;
        left:0;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .title-card picture{
        height: 117.59259259259258vw;
    }
    .title-card img{
        width: 100vw;
        height: auto;
    }
    .title-card .title-info{
        padding: 20vw 10vw 5vw 10vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    .title-card h1{
        color: var(--blue);
        font-size: 5vw;
        margin: 0;
    }
    
    .title-card h3{
        margin-top: 0;
        color: var(--white);
        font-size: 3vw;
        font-weight: 400;
    }
    .quick_link{
        background-color: var(--violet);
        padding: 1.5vw 3vw;
        border-radius: 5vw;
        color: var(--black);
        font-weight: 600;
        text-decoration: none;
        display: flex;
        transition:ease-in-out 0.2s;
        font-size: 3vw;
        width: max-content;
        height: 4vw;
    }
}

.game-dev{
    padding: 5vw;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.game-dev h2{
    color: var(--black);
    font-size: 2vw;
    text-align: center;
}
.game-card{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--yellow);
    padding: 5vw;
    border-radius: 2vw;
}

.game-card h3{
    color: var(--black);
    font-size: 1.4vw;
    font-weight: 600;
}

.game-card p{
    color: var(--black);
    font-size: 1vw;
    font-weight: 400;
}
.game-card .skill-icons{
    display: flex;
    gap: 0.5vw;
}

.game-card i{
    color: var(--black);
    font-size: 1.5vw;
    font-weight: 400;
}

.game-card img{
    width: 1.5vw;
    height: 1.5vw;
    font-weight: 400;
}

.game-card .game-info{
    width: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.game-video-container{
    display: flex;
    align-items: center;
    justify-content: center;

}
.game-card .game-video{
    background-color: var(--black);
    width: 35vw;
    height: 19.6875vw;
    border-radius: 1vw;
}


@media (max-width:996px){
    .game-dev{
        padding: 10vw;
        gap: 4vw;
    }

    .game-dev h2{
        font-size: 5vw;
    }
    .game-card{
        display: grid;
        grid-template-columns: 1fr;
        padding: 5vw;
        border-radius: 4vw;
    }

    .game-card h3{
        font-size: 4vw;
        font-weight: 600;
        text-align: center;
    }

    .game-card p{
        color: var(--black);
        font-size: 3vw;
        font-weight: 400;
    }
    .game-card .skill-icons{
        display: flex;
        gap: 2vw;
        justify-content: center;
    }

    .game-card i{
        font-size: 4vw;
    }

    .game-card img{
        width: 4vw;
        height: 4vw;
    }

    .game-card .game-info{
        width: 70vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        order: -1;
    }
    .game-video-container{
        display: flex;
        align-items: center;
        justify-content: center;

    }
    .game-card .game-video{
        background-color: var(--black);
        width: 70vw;
        height: 39.375vw;
        border-radius: 3vw;
    }
}

.rendering-3d{
    background-color: var(--black);
    padding: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rendering-3d h2{
    color: var(--yellow);
    font-size: 2vw;
    text-align: center;
}

.rendering-3d p{
    color: var(--white);
    font-size: 1vw;
    width: 60vw;
    text-align: center;
}

.render-slider{
    width: 90vw;
}


.render-slider img{
    margin: 10vw 0vw;
    width: 30vw;
    height: auto;
    border-radius: 2vw;
    transition: 0.25s;
    z-index: -20;

}

@media (max-width:996px){
    .rendering-3d{
        background-color: var(--black);
        padding: 10vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .rendering-3d h2{
        color: var(--yellow);
        font-size: 5vw;
        text-align: center;
    }
    
    .rendering-3d p{
        color: var(--white);
        font-size: 3vw;
        width: 80vw;
        text-align: center;
    }
}

.slick-center .render-image img{
    transform: scale(2);
    z-index: 20;
    opacity: 1;
    filter: drop-shadow(0px 0px 0.3vw var(--blue)) saturate(1.1)
}


.front-end{
    background-color: var(--blue);
    padding: 5vw;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.front-end h2{
    color: var(--black);
    font-size: 2vw;
    text-align: center;
}